

<div class ="container">

<%=link_to "Sign in/ log in", signup_path  %>
<p><%=link_to "Manage reservations", reservations_path %></p>

<main id = "root"></main>
<footer><%=link_to "Howard Lee 2019", "https://howardlee93.github.io/"%></footer>
</div>

